*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    color: #606060;
    font-size: 1.1rem;
    text-align: center;
}
a{
    text-decoration: none;
    color: #606060;
}
input, select{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    height: 25px;
}
textarea{
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/*HEADER STARTS HERE*/
header img{
    height: 100px;
}
.navbar .navbar-collapse a:hover::after{
    width: 50px;
}
.navbar .navbar-collapse a::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: #e1f26e;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transform: translateX(-50%);
    transition: .35s ease all;
    position: relative;
    left: 50%;
    top: 5px;
}
.navbar .navbar-collapse .navbar-nav{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.bg-light{
    background-color: #fff!important;
}
/*MAIN CONTENT STARTS HERE*/
.img-under-header img{
    width: 100%;
    height: auto;
}
.section-with-form h1{
    text-align: center;
    margin: 25px;
}
.section-with-form form {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.section-with-form form > *{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
}
.section-with-form form .send-button, .section-with-form form .convert{
    grid-template-columns: 1fr;
    height: 40px;
    line-height: 20px;
    width: 150px;
    padding: 10px 0;
    margin: 10% auto;
    background-color: #e6e6e6;
    border: 2px solid #e1f26e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
.section-with-form form .send-button:hover, .section-with-form form .convert:hover{
    background-color: #e1f26e;
    color: #333333;
}
/*FOOTER STARTS HERE*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
footer .fa{
    margin: 0 5px;
}
footer .fa:hover{
    color: #9aab56;
}
/*MOBILE STYLES START HERE*/
@media screen and (max-width: 992px){
    .navbar .navbar-collapse .navbar-nav{
        display: block;
    }
    .section-with-form form {
        width: 80%;
    }
}
html body form .curr{
    display: inline-block;
}