*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    color: #606060;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
    color: #606060;
}
input, select{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    height: 25px;
}
textarea{
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/*HEADER STARTS HERE*/
header nav{
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a:not(:first-of-type){
    width: 100%;
    text-align: center;
}
.navigation-logo{
    height: 100%;
    width: 100%;
}
header img{
    height: 100px;
}
nav a:not(:first-child):hover::after{
    width: 50px;
}
nav a::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: #e1f26e;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    transform: translateX(-50%);
    transition: .35s ease all;
    position: relative;
    left: 50%;
    top: 5px;
}
header input{
    display: none;
}
/*MAIN CONTENT STARTS HERE*/
.img-under-header img{
    width: 100%;
    height: auto;
}
.section-with-form h1{
    text-align: center;
    margin: 25px;
}
.section-with-form form {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.section-with-form form > *{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px 0;
}
.section-with-form form .send-button, .section-with-form form .convert{
    grid-template-columns: 1fr;
    height: 40px;
    line-height: 20px;
    width: 150px;
    padding: 10px 0;
    margin: 10% auto;
    background-color: #e6e6e6;
    border: 2px solid #e1f26e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
.section-with-form form .send-button:hover, .section-with-form form .convert:hover{
    background-color: #e1f26e;
    color: #333333;
}
/*FOOTER STARTS HERE*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
footer .fa{
    margin: 0 5px;
}
footer .fa:hover{
    color: #9aab56;
}
/*MOBILE STYLES START HERE*/
@media screen and (max-width: 780px) {
    .burger-icon{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
        cursor: pointer;
        height: 40px;
        width: 40px;
        z-index: 2;
        background-color: green;
    }
    header span{
        position: absolute;
        right: 30px;
        height: 2px;
        width: 25px;
        background-color: #606060;
    }
    header span:first-of-type{
        top: 30px;
    }
    header span:nth-of-type(2){
        top: 40px;
    }
    header span:last-of-type{
        top: 50px;
    }
    header nav{
        display: flex;
        flex-direction: column;
    }
    nav a:not(:first-of-type){
        display: none;
    }
    .burger-icon:checked ~ nav a:not(:first-of-type){
        width: 100%;
        line-height: 50px;
        display: flex;
        justify-content: center;
    }
    nav a::after{
        display: none;
    }
    .section-with-form form {
        width: 80%;
    }
}